// Colors
$primary-black-color: #1B1B1B;
$primary-purple-color: #605982;
$primary-orange-color:  #EA7534;
$primary-cream-color: #E5C7A3;
$primary-blue-color: #2CA6B1;
$primary-yellow-color: #FFF251;
$primary-red-color: #D53A2C;

$primary-colors: (
  "black": $primary-black-color,
  "purple": $primary-purple-color,
  "orange": $primary-orange-color,
  "cream": $primary-cream-color,
  "blue": $primary-blue-color,
  "yellow": $primary-yellow-color,
  "red": $primary-red-color
);

$secondary-purple-color: #A9A7D3;
$secondary-yellow-color: #F4DD7D;
$secondary-green-color: #A6DDA9;
$secondary-peach-color: #FFDEC0;
$secondary-turquoise-color: #83D9DD;
$secondary-pink-color: #E4CDE8;
$secondary-red-color: #EF726C;
$secondary-orange-color: #F2A37C;
$secondary-blue-color: #92BCEF;

$secondary-colors: (
  "purple": $secondary-purple-color,
  "yellow": $secondary-yellow-color,
  "green": $secondary-green-color,
  "peach": $secondary-peach-color,
  "turquoise": $secondary-turquoise-color,
  "pink": $secondary-pink-color,
  "red": $secondary-red-color,
  "orange": $secondary-orange-color,
  "blue": $secondary-blue-color
);

// Texts
$text-font: 'Hind', sans-serif;
$text-color: var(--theme-fg);
$headers-default-font: 'Montserrat';

$h3-text-size: 36px;
$h3-text-margin: 0 0 25px 0;
$h4-text-size: 28px;
$h4-text-weight: bold;

// Grids
$grid-justify-items: center;
$grid-tablet-justify-items: center;
$grid-mobile-justify-items: center;
$grid-column-gap: 34px;
$grid-row-gap: 34px;
$grid-mobile-row-gap: 34px;

// Links
$links-text-color: var(--theme-fg);
$links-text-hover-color: $primary-purple-color;

// Header
$header-height: 90px;
$header-text-color: var(--theme-fg);
$header-background-color: transparent;
$header-nav-active-color: var(--theme-fg);
$header-nav-hover-color: var(--theme-fg);
$header-nav-visited-color: var(--theme-fg);
$header-nav-justify-items: start;
$header-nav-spacing: 0px;
$header-actions-space-width: 232px;
$header-logo-space-width: 142px;

// Hero
$hero-headings-text-color: var(--theme-fg);

// Footer
$footer-text-color: var(--theme-fg);
$footer-background-color: var(--theme-bg);
$footer-link-default-color: var(--theme-fg);
$footer-link-hover-color: $primary-purple-color;
$footer-link-active-color: var(--theme-fg);
$footer-link-visited-color: var(--theme-fg);

// Triplet Columns
$triplet-column-row-gap: 34px;

// Themes
$default-theme: dark;

$themes: (
  "dark": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light": (
    "fg": $primary-black-color,
    "bg": white
  ),
  "dark-colored": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light-colored": (
    "fg": $primary-black-color,
    "bg": white
  )
);
