
$text-color: white;

$primary-black-color: #1B1B1B;

$text-font: 'Hind', sans-serif;

$links-text-color: $text-color;

$header-background-color: $primary-black-color;
$footer-background-color: $primary-black-color;

$header-nav-active-color: white;
$header-nav-hover-color: #cccccc;
$header-nav-visited-color: #cccccc;