$text-color: var(--theme-fg);
$links-text-color: var(--theme-fg);

$primary-black-color: #1B1B1B;

$text-font: 'Hind', sans-serif;

$header-background-color: transparent;
$footer-background-color: transparent;

$header-height: 90px;

$header-text-color: var(--theme-fg);
$header-nav-active-color: var(--theme-fg);
$header-nav-hover-color: var(--theme-fg);
$header-nav-visited-color: var(--theme-fg);

$hero-headings-text-color: var(--theme-fg);

$footer-text-color: var(--theme-fg);

$default-theme: dark;

$themes: (
  "dark": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light": (
    "fg": $primary-black-color,
    "bg": white
  ),
  "dark-colored": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light-colored": (
    "fg": $primary-black-color,
    "bg": white
  )
);
