// Colors
$primary-black-color: #151A20;
//$primary-black-color: #1B1B1B;
$primary-purple-color: #5f5f6B;
$primary-orange-color:  #EA7534;
$primary-cream-color: #E5C7A3;
$primary-blue-color: #4195C4;
$primary-yellow-color: #F4D22A;
$primary-red-color: #D53A2C;
$primary-green-color: #80c483;
$primary-white-color: #FFFFFF;

$primary-colors: (
  "black": $primary-black-color,
  "purple": $primary-purple-color,
  "orange": $primary-orange-color,
  "cream": $primary-cream-color,
  "blue": $primary-blue-color,
  "yellow": $primary-yellow-color,
  "red": $primary-red-color,
  "green": $primary-green-color,
  "white": $primary-white-color
);

$secondary-purple-color: #A9A7D3;
$secondary-yellow-color: #F4DD7D;
$secondary-green-color: #A6DDA9;
$secondary-peach-color: #FFDEC0;
$secondary-turquoise-color: #83D9DD;
$secondary-pink-color: #E4CDE8;
$secondary-red-color: #EF726C;
$secondary-orange-color: #F2A37C;
$secondary-blue-color: #92BCEF;

$secondary-colors: (
  "purple": $secondary-purple-color,
  "yellow": $secondary-yellow-color,
  "green": $secondary-green-color,
  "peach": $secondary-peach-color,
  "turquoise": $secondary-turquoise-color,
  "pink": $secondary-pink-color,
  "red": $secondary-red-color,
  "orange": $secondary-orange-color,
  "blue": $secondary-blue-color
);

$high-key-purple-color: #7A5CD6;
$high-key-pink-color: #FF144E;
$high-key-orange-color: #FF6510;
$high-key-peach-color: #FFCE99;
$high-key-yellow-color: #FFEC00;
$high-key-green-color: #25A02B;
$high-key-turquoise-color: #00DDBE;
$high-key-blue-color: #00B3EA;

$high-key-colors: (
  "purple": $high-key-purple-color,
  "pink": $high-key-pink-color,
  "orange": $high-key-orange-color,
  "peach": $high-key-peach-color,
  "yellow": $high-key-yellow-color,
  "green": $high-key-green-color,
  "turquoise": $high-key-turquoise-color,
  "blue": $high-key-blue-color
);

$submenu-colors: (
  "black": $primary-black-color,
  "purple": $primary-purple-color,
  "orange": $primary-orange-color,
  "cream": $primary-cream-color,
  "blue": $primary-blue-color,
  "yellow": $primary-yellow-color,
  "red": $primary-red-color,
  "green": $primary-green-color,
  "white": $primary-white-color,
  "secondary-purple": $secondary-purple-color,
  "secondary-yellow": $secondary-yellow-color,
  "secondary-green": $secondary-green-color,
  "secondary-peach": $secondary-peach-color,
  "secondary-turquoise": $secondary-turquoise-color,
  "secondary-pink": $secondary-pink-color,
  "secondary-red": $secondary-red-color,
  "secondary-orange": $secondary-orange-color,
  "secondary-blue": $secondary-blue-color
);

// Texts
$text-font: 'Hind', sans-serif;
$text-color: var(--theme-fg);
$headers-default-font: 'Montserrat';

$secondary-text-font: Georgia, serif;
$secondary-font-size: 18px;

// Headings
$h1-text-size: 64px;
$h3-text-size: 28px;
$h3-text-margin: 0 0 25px 0;
$h4-text-size: 22px;
$h4-text-weight: bold;

// Grids
$grid-justify-items: center;
$grid-tablet-justify-items: center;
$grid-mobile-justify-items: center;
$grid-column-gap: 34px;
$grid-row-gap: 34px;
$grid-mobile-row-gap: 34px;

// Links
$links-text-color: var(--theme-fg);
$links-text-hover-color: $primary-purple-color;

// Header
$header-position: fixed;
$header-height: 68px;
$header-text-color: var(--theme-fg);
$header-background-color: var(--theme-bg);
$header-nav-active-color: var(--theme-fg);
$header-nav-hover-color: var(--theme-fg);
$header-nav-visited-color: var(--theme-fg);
$header-nav-justify-items: start;
$header-nav-spacing: 0px;
$header-nav-default-color: var(--theme-fg);
$header-nav-background-color: var(--theme-bg);
$header-nav-color: var(--theme-fg);
$header-actions-space-width: 232px;
$header-logo-space-width: 142px;
$header-nav-close-toggle-size: 24px;
$header-nav-items-width: 150px;
$header-nav-items: 6;
$header-actions-space-width: 281px;


// Hero
$hero-headings-text-color: var(--theme-fg);

// Footer
$footer-text-color: var(--theme-fg);
$footer-background-color: var(--theme-bg);
$footer-link-default-color: var(--theme-fg);
$footer-link-hover-color: $primary-purple-color;
$footer-link-active-color: var(--theme-fg);
$footer-link-visited-color: var(--theme-fg);

// Triplet Columns
$triplet-column-row-gap: 34px;

// Themes
$default-theme: dark;

$text-selection-color: $primary-yellow-color;

$themes: (
  "dark": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light": (
    "fg": $primary-black-color,
    "bg": white
  ),
  "dark-colored": (
    "fg": white,
    "bg": $primary-black-color
  ),
  "light-colored": (
    "fg": $primary-black-color,
    "bg": white
  )
);

//Paragraph
$paragraph-line-height: 1.6em;
$paragraph-text-size: 20px;
