@import "tokens";
@import "~@lkmx/flare-legacy/src/flare";

html {
  --purple-color: #{$secondary-purple-color};
  --yellow-color: #{$secondary-yellow-color};
  --green-color: #{$secondary-green-color};
  --peach-color: #{$secondary-peach-color};
  --turquoise-color: #{$secondary-turquoise-color};
  --pink-color: #{$secondary-pink-color};
  --red-color: #{$secondary-red-color};
  --orange-color: #{$secondary-orange-color};
  --blue-color: #{$secondary-blue-color};

  --primary-black-color: #{$primary-black-color};
  --primary-purple-color: #{$primary-purple-color};
  --primary-orange-color:  #{$primary-orange-color};
  --primary-cream-color: #{$primary-cream-color};
  --primary-blue-color: #{$primary-blue-color};
  --primary-yellow-color: #{$primary-yellow-color};
  --primary-red-color: #{$primary-red-color};
  --primary-green-color: #{$primary-green-color};
}

.column {
  padding: $gutter-large 0;
}

a {
  text-decoration: none;
}

main {
  h1 {
    @include respond-to("medium and down") {
      font-size: $h2-text-size;
    }
  }
  blockquote {
    font-size: $base-size;
    margin: 0 0 $gutter-xlarge;
    padding: 0 $gutter;
    border-left: 3px solid $primary-blue-color;
    line-height: $paragraph-line-height;
  }
  a {
    text-decoration: underline;
  }
}

hr {
  width: 100%;
  margin: $gutter-large 0;
}

button {
  outline: unset;
}
