@import "tokens";
@import "~@lkmx/flare/src/flare";

html {
  --black-color: #{$primary-black-color};
  --blue-color: #{$primary-blue-color};
  --orange-color: #{$primary-orange-color};
  --pink-color: #{$primary-pink-color};
  --purple-color: #{$primary-purple-color};
}

.column {
  padding-bottom: $gutter-xlarge;
}

a {
  text-decoration: none;
}

main {
  h1 {
    @include respond-to("medium and down") {
      font-size: $h2-text-size;
    }
  }
  blockquote {
    font-size: $base-size;
    margin: 0 0 $gutter-xlarge;
    padding: 0 $gutter;
    border-left: 3px solid $primary-teal-color;
    line-height: $paragraph-line-height;
  }
  a {
    text-decoration: underline;
  }
}

hr {
  width: 100%;
  margin: $gutter-large 0;
}
